{% extends '::base.html.twig' %}

{% block body -%}

    <div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-5 col-sm-offset-1">
			<h2 style="text-align:left;color:#f39f03;margin-bottom:20px;font-weight:bold;">LISTE DES CLASSES</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 form-classe" style="margin-bottom:20px;">
				<table class="records_list table_index_classe table table-striped">
					<thead>
						<tr>
							<th>Id</th>
							<th>Etablissement</th>
							<th>Nom</th>
							<th>Début</th>
							<th>Fin</th>
							<th>Code</th>
							<th>Statut</th>
							<th>Nb élèves</th>
							<th>Thème</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
					{% for entity in entities %}
						<tr>
							<td><a href="{{ path('classe_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
							<td>{{ entity.etablissement }}</td>
							<td>{{ entity.name }}</td>
							<td>{% if entity.start %}{{ entity.start|date('Y-m-d') }}{% endif %}</td>
							<td>{% if entity.end %}{{ entity.end|date('Y-m-d') }}{% endif %}</td>
							<td>{{ entity.code }}</td>
							<td>{% if entity.status %}Ouvert{% else %}Fermé{% endif %}</td>
							<td>{{ nb_eleves[loop.index0] }}</td>
							<td>{% if entity.theme is not null %}{{ entity.theme.name }}{% endif %}</td>
							<td>
								<a href="{{ path('classe_show', { 'id': entity.id }) }}"><img src="/img/fleche_verte.png" title="Voir"/></a>
								<a href="{{ path('classe_edit', { 'id': entity.id }) }}"><img src="/img/crayon_modifier.png" title="Modifier" /></a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				<a href="{{ path('classe_new') }}" style="font-weight:bold;color:#5c74a6;padding-bottom:20px;" >> Créer une nouvelle Classe</a>
			</div>
		</div>
	</div>
		
<div class="footer-mer-1"></div>
{% endblock %}
