{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Liste des Classes</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pays</th>
                <th>Region</th>
                <th>Etablissement</th>
                <th>Name</th>
                <th>Start</th>
                <th>End</th>
                <th>Code</th>
                <th>Status</th>
                <th>Nb Eleves</th>
                <th>Theme</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('classe_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.pays }}</td>
                <td>{{ entity.region }}</td>
                <td>{{ entity.etablissement }}</td>
                <td>{{ entity.name }}</td>
                <td>{% if entity.start %}{{ entity.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.end %}{{ entity.end|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ nb_eleves[loop.index0] }}</td>
                <td>{% if entity.theme is not null %}{{ entity.theme.name }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('classe_show', { 'id': entity.id }) }}">Voir</a>
                    </li>
                    <li>
                        <a href="{{ path('classe_edit', { 'id': entity.id }) }}">Modifier</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('classe_new') }}">
                Créer une nouvelle Classe
            </a>
        </li>
    </ul>
    {% endblock %}
