{% extends '::base.html.twig' %}

{% block body %}

    <!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="title col-lg-12 col-xs-12 text-center">
				{% if app.user %}
					{% if is_granted('ROLE_PROF_TBC') %}
						Votre application est en cours de validation. Merci de bien vouloir patienter.
					{% elseif is_granted('ROLE_ELEVE') %}
					<h1>Bienvenue {{app.user.firstName}}</h1>
					<p class="lead"></p>
					<ul class="list-unstyled">
						<li></li>
					</ul>
					{% endif %}

				{% else %}
				
				<h1><strong><span class="h3"><strong>Le meilleur moyen</strong></span><br /><span class="h2"><strong>d' </strong></span>apprendre<br /><span class="h2"><strong>en </strong></span>s'amusant !</strong></h1>
				<div class="bg_high_res_home">
				<a href="#" class="btn-orange"><span class="h4"><strong>Allons-y !</strong></span></a>
				<img class="img-responsive img-center" src="/img/bg_home.png" />
				</div>
				<div class="blue-home">
					<div class="boss-home">
						<img style="float:left;margin-right:20px" src="/img/picto_home.png" />
						<p class="orange-home">Deviens le boss des maths</p>
						<p class="blanc-home">Apprends les maths sur PAPILO pour épater tes potos !</p>
					</div>
				</div>
				<div class="bottom-home"><span class="h3"><strong>Pourquoi Papilo ?</strong></span>
				</div>
				<div class="col-xs-12 col-md-4 bottom-home-txt">
					<img src="/img/picto2_home.png" /><br />
					<div class="separateur-home">&nbsp;</div>
					<span class="h4 bottom-titre-home">Ta progression en ligne</span><br /><br />
					<span>A tout moment, il est possible de consulter son historique et ses statistiques</span>
				</div>
				<div class="col-xs-12 col-md-4 bottom-home-txt">
					<img src="/img/picto3_home.png" /><br />
					<div class="separateur-home">&nbsp;</div>
					<span class="h4 bottom-titre-home">Une méthode d'apprentissage</span><br /><br />
					<span>Une liste de savoirs étudiée de manière à permettre une progression sereine</span>
				</div>
				<div class="col-xs-12 col-md-4 bottom-home-txt">
					<img src="/img/picto4_home.png" /><br />
					<div class="separateur-home">&nbsp;</div>
					<span class="h4 bottom-titre-home">La classe internationale</span><br /><br />
					<span>Parles en avec tes amis et tu deviendras célèbre !</span>
				</div>
					<!-- {{ render(controller('MainUserBundle:Security:login')) }}
					<br />
					<br />
					<br />
					vous êtes un étudiant ?
					<a href="{{ path('main_student_register')}}">inscrivez vous</a>
					<br />
					vous êtes un prof ?
					<a href="{{ path('main_prof_register')}}">inscrivez vous</a>
					  -->
				{% endif %}
            </div>
        </div>
		
		
        <!-- /.row -->
		
        <div id="arbre"></div>

	<!-- /.container -->
    </div>
	<div class="bottom-home"></div>
	<div class="modal"><!-- Place at bottom of page --></div>
	
	
{% endblock %}
	
{% block javascripts %}
	{{ parent() }}
	{% if error %}
		<script type="text/javascript">
			$("#bs-example-navbar-collapse-1").hide();
			$("#modal_login_user").modal({
				show: true
			});
			$('form').find("input[type=password]").each(function(ev)
			{
				$(this).val("");
				$(this).attr("placeholder", "Mauvais nom d'utilisateur ou mot de passe !");
			});
		</script>
	{% endif %}
{% endblock %}
