{% extends '::base.html.twig' %}
{% block body %}
{% if evaluation %}
<div class="modal fade" style="display:block;top:50px;" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Bonjour {{app.user}} !</h4>
      </div>
      <div class="modal-body">
        <p>Nouveau sur le site, envie d'apprendre un nouveau thème ? Evalue ton niveau pour mieux cibler les savoirs qui t'intéressent !</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Non merci</button>
		{% for evaluation in evaluations %}
		<a href="{{ path('main_evaluation_pass_student', { 'evaluation_id': evaluation.id }) }}">
			<button type="button" class="btn btn-primary" id="evaluation_{{evaluation.id}}">
				Niveau{%if loop.index == 1 %} débutant {% elseif loop.index == 2 %} intermédiaire {% else %} avancé {% endif %} 
			</button>
		</a>
		{% endfor %}
	  </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
<div class="container-arbre">
	<h2 style="text-align:center;color:#f39f03;margin-bottom:20px;">{{arbre.level1.0.theme.name|upper}}</h2>
	<ul class="list-style" style="text-align:center;list-style: none;">
		{% for level in arbre %}
		{% if evaluations[loop.index] is defined and evaluations[loop.index]['passed'] is not defined %}
			<li style="margin-top:20px;">
				<a href="{{ path('main_evaluation_pass_student', { 'evaluation_id': evaluations[loop.index]['id'] }) }}">
					<button type="button" class="btn btn-primary" >
						Passer une évaluation : {{evaluations[loop.index]['name']}}
					</button>
				</a>
			</li> 
		{% endif %}
		<li style="margin-top:20px;">
			{% for savoir in level %}
			{% if savoir.available %}
				<a id="link_modal_{{savoir.id}}_{{savoir.name}}"class="link_arbre_panel" href="#">
					<span class="spanBlocImg" data-html="true" data-toggle="tooltip" data-placement="top" title="{%if savoir.prerequis_name is defined %}  Prérequis :  {%for nom_prerequis in savoir.prerequis_name%} <br/>-{{nom_prerequis}} {%endfor%} <br/><br/>{%endif%} Niveau : {{loop.parent.loop.index}} ">
						{%if savoir.strength is defined %}<span class="barForce{{savoir.strength}}" ></span>{%endif%}
						<span class="spanImg {%if savoir.strength is defined %} spanImg_2 {% endif %}" {% if savoir.path is not null%} style="background-image:url(/uploads/savoir/{{savoir.id}}.{{savoir.path}});"{% endif %} ></span>
						<span class="spanTxt" {%if savoir.strength is defined %} style="top:5px;left:25px;" {%endif%}>{{savoir.name}}</span> 
					</span>
				</a>
				<div id="modal_savoir_arbre_{{savoir.id}}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-sm modal-arbre-savoir">
						<div class="modal-content modal-arbre-savoir-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h6>{{arbre.level1.0.theme.name}} > {{savoir.name}}</h6>
							</div>
							<div class="modal-body">
							<h3 style="text-align:center;">{{savoir.name|upper}}</h3>
							{% if savoir.path is not null%}
								<img class="center-block" src="/uploads/savoir/{{savoir.id}}.{{savoir.path}}" />
							{% else %}
								<img class="center-block" src="/img/icones/sphynx.png" />
							{% endif %}
							<p style="color:#add292;text-align:center;">Niveau : {%if savoir.strength is defined %}{{savoir.strength}}{%else%}0{%endif%}</p><br />
							<p style="text-align:center;">Aller à :</p><br />
							<a href="{{ path('main_cours_show', { 'savoir_id': savoir.id }) }}" class="btn-epreuve">Cours</a>
							<a href="{{ path('main_epreuve_pass_student', { 'savoir_id': savoir.id }) }}" class="btn-epreuve">Epreuve</a>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<span class="spanBlocImg arbre_grise" data-html="true" data-toggle="tooltip" data-placement="top" title="{%if savoir.prerequis_name is defined %}  Prérequis :  {%for nom_prerequis in savoir.prerequis_name%} <br/>-{{nom_prerequis}} {%endfor%} <br/><br/>{%endif%}  Niveau : {{loop.parent.loop.index}} ">
					<span class="spanImg" {% if savoir.path is not null%} style="background-image:url(/uploads/savoir/{{savoir.id}}.{{savoir.path}})" alt="" {% endif %} >  </span>
					<span class="spanTxt" >{{savoir.name}}</span>
				</span>
			{% endif %}
			{% endfor %}
		</li> 
		{% endfor %}
		{% if evaluations[arbre|length+1] is defined and evaluations[arbre|length+1]['passed'] is not defined %}
			<li style="margin-top:20px;">
				<a href="{{ path('main_evaluation_pass_student', { 'evaluation_id': evaluations[arbre|length+1]['id'] }) }}">
					<button type="button" class="btn btn-primary" >
						Passer une évaluation : {{evaluations[arbre|length+1]['name']}}
					</button>
				</a>
			</li> 
		{% endif %}		
	</ul>
</div>

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
		
$('[id^="link_modal_"]').click(function(){
//	$("#bs-example-navbar-collapse-1").hide();
	var temp_array = $(this).attr('id').split("_");
	var id_savoir = temp_array[2];
	$("#modal_savoir_arbre_"+id_savoir).modal({
		show: true
	});
});

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})		
{% if evaluation %}
$('#myModal').modal('show');
{% endif %}

</script>
{% endblock%}