{% extends '::base.html.twig' %}

{% block body -%}


<form id="improve_filter" action="{{ path('main_savoir_improve') }}" method="post">
	<br/>
	<span style="color:#f39f03;">Filtres :</span>
	<select id="theme_filter" name="theme_filter">
		{% for matiere in app.session.get('matieres')%}
			{% for theme in matiere.themes %}
				<option value="{{theme.id}}" {% if app.request.get('theme_filter') is defined and app.request.get('theme_filter') == theme.id%}selected{%endif%} >{{theme.name}}</option>
			{% endfor %}
		{% endfor %}
	</select>
	<label for="perfectionnement"><input type="checkbox" id="perfectionnement" name="perfectionnement" value="perfectionnement" {% if app.request.get('perfectionnement') == "perfectionnement"%}checked{%endif%}/>Perfectionnement</label>
	<label for="a_decouvrir"><input type="checkbox" id="a_decouvrir" name="a_decouvrir" value="a_decouvrir" {% if app.request.get('a_decouvrir') == "a_decouvrir"%}checked{%endif%}/>A Découvrir</label>
	<input type="submit" class="add_tag_link submit_classe btn" style="min-width:100px;width:100px" value="Filtrer" />
	<a href="{{ path('main_savoir_improve')}}" class="add_tag_link submit_classe btn" style="background-color:#f39f03;min-width:130px;width:130px">Réinitialiser</a>
</form>

<ul class="list-style" style="text-align:center;list-style: none;background-color: #fffaf2;">
	{% for theme in themes %}
		<li style="margin-top:20px;">
			<h2 style="text-align:center;color:#f39f03;margin-bottom:20px;">{{theme.name}}</h2>
			{% if theme.savoirs is defined %}
				{% for savoir in theme.savoirs %}
					{% if app.request.get('perfectionnement') != "perfectionnement" or app.request.get('a_decouvrir') == "a_decouvrir" or savoir.strength is defined %}
					{% if app.request.get('a_decouvrir') != "a_decouvrir" or app.request.get('perfectionnement') == "perfectionnement" or savoir.strength is not defined %}
					<a id="link_modal_{{savoir.id}}_{{savoir.name}}"class="link_arbre_panel" href="#">
						<span class="spanBlocImg" data-html="true" data-toggle="tooltip" data-placement="top" title="{%if savoir.prerequis_name is defined %}  Prérequis :  {%for nom_prerequis in savoir.prerequis_name%} <br/>-{{nom_prerequis}} {%endfor%} <br/><br/>{%endif%} Niveau : {{loop.parent.loop.index}} ">
							{%if savoir.strength is defined %}<span class="barForce{{savoir.strength}}" ></span>{%endif%}
							<span class="spanImg {%if savoir.strength is defined %} spanImg_2 {% endif %}" {% if savoir.path is not null%} style="background-image:url(/uploads/savoir/{{savoir.id}}.{{savoir.path}});"{% endif %} ></span>
							<span class="spanTxt" {%if savoir.strength is defined %} style="top:5px;left:25px;" {%endif%}>{{savoir.name}}</span> 
						</span>
					</a>
					<div id="modal_savoir_arbre_{{savoir.id}}" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-sm modal-arbre-savoir">
							<div class="modal-content modal-arbre-savoir-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h6>{{savoir.theme.name}} > {{savoir.name}}</h6>
								</div>
								<div class="modal-body">
								<h3 style="text-align:center;">{{savoir.name|upper}}</h3>
								{% if savoir.path is not null%}
									<img class="center-block" src="/uploads/savoir/{{savoir.id}}.{{savoir.path}}" />
								{% else %}
									<img class="center-block" src="/img/icones/sphynx.png" />
								{% endif %}
								<p style="color:#add292;text-align:center;">Niveau : {%if savoir.strength is defined %}{{savoir.strength}}{%else%}0{%endif%}</p><br />
								<p style="text-align:center;">Aller à :</p><br />
								<a href="{{ path('main_cours_show', { 'savoir_id': savoir.id }) }}" class="btn-epreuve">Cours</a>
								<a href="{{ path('main_epreuve_pass_student', { 'savoir_id': savoir.id }) }}" class="btn-epreuve">Epreuve</a>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
		</li> 
	{% endfor %}
</ul>
<div class="footer-mer-1"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript">

$('[id^="link_modal_"]').click(function(){
//	$("#bs-example-navbar-collapse-1").hide();
	var temp_array = $(this).attr('id').split("_");
	var id_savoir = temp_array[2];
	$("#modal_savoir_arbre_"+id_savoir).modal({
		show: true
	});
});

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})		


</script>
{% endblock %}