{% trans_default_domain 'FOSUserBundle' %}
<div class="container-profile">
	<h2 style="text-align:left;color:#f39f03;margin-bottom:20px;"> TON PROFIL </h2>

	{% set flashMsgs = app.session.flashBag.all %}
	{% if  flashMsgs %}
	  <div class="container-fluid">
		{% for type, messages in flashMsgs if ((type == 'success') or (type == 'error')) %}
		  {% for message in messages %}
			{% set alert_class = '' %}
			{% if type == 'success' %}
			  {% set alert_class = 'alert-success' %}
			{% elseif type == 'error' %}
			  {% set alert_class = 'alert-danger' %}
			{% endif %}
		  <div class="alert {{ alert_class }}">
			<button  class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		  </div>
		  {% endfor %}
		{% endfor %}
	  </div>
	{% endif %}	
	
	<!--<div class="col-xs-12 fos_user_user_show blocCentre div_profile">-->
	<div class="col-xs-12 col-sm-7 fos_user_user_show div_profile">
		<div class="profile-picture">
		<img src="/img/profile.png" />
		</div>
		<div class="profile-description">
			<p style="color:#ffffff;font-size:30px;margin:0px;">{{ user.username }}</p>
			<p style="color:#202121;margin-bottom:20px;">{{ user.firstName }} {{ user.lastName }}</p>
			<p><i>{{ 'profile.show.email'|trans }}:</i> {{ user.email }}</p>
			{% if is_granted('ROLE_ELEVE') %}
			<p><i>{{ 'Classe'|trans }}:</i> {{ user.classe }}ème</p>
			{% endif %}
			<p><i>{{ 'Date de naissance'|trans }}:</i> {{ user.birthday|date("d/m/Y") }}</p>
			<p><i>{{ 'Pays'|trans }}:</i> {{ user.country }}</p>
			<a href="{{ path('main_user_profil_edit')}}" ><button type="button" class="btn btn-modify-profile"> Modifier ton profil</button></a>
		</div>
	</div>
	{% if is_granted('ROLE_PROF') %}
	<div class="col-sm-4 col-xs-12 col-sm-offset-1 profile-themes-main">
		<a class="profile-themes" href="{{ path('classe')}}">Gérer les classes</a><br />
		<a class="profile-themes" href="{{ path('classe_new')}}">Créer une classe</a><br />
		<a class="profile-themes" href="{{ path('examen_new')}}">Créer un examen</a>
	</div>
	{% else %}
	<div class="col-sm-4 col-xs-12 col-sm-offset-1 profile-themes-main">
		<p style="color:#5b74a9;font-size:20px;">Tes thèmes :</p>
		{% for theme in themes%}
			<a class="profile-themes" href="{{ path('main_savoir_arbre_theme', { 'theme_id': theme.theme.id })}}">{{ theme.theme.name }}</a><br />
		{% endfor %}
	</div>
	<div class="col-xs-12 col-sm-7 fos_user_user_show div_profile_last_exercices">
		<p style="color:#5b74a9;font-size:20px;text-align:center;">Tes dernières épreuves :</p>
		{% for epreuve in last_epreuves %}
			<p style="color:#859fc1;margin:0px;">{{time_diff(epreuve.date)}}</p>
			<p style="font-weight:bold;" class="">{{epreuve.savoir.theme.matiere.name}} / {{epreuve.savoir.theme.name}}</p>
			<p class="">{{epreuve.savoir.name}} - 
				{% if epreuve.success %}Epreuve validée <img src="/img/epreuve_valide.png" />
				{% else %}Epreuve invalidée <img src="/img/epreuve_invalide.png" />{% endif %}</p>
		{% endfor %}
		<a href="{{ path('main_user_my_history')}}">Voir ton historique complet</a>
	</div>
	<div class="col-sm-4 col-xs-12 col-sm-offset-1 profile-themes-main">
		<p style="color:#5b74a9;font-size:20px;">Ton dernier badge :</p>
		{% if last_badge %}
			<span style="margin:auto;display:block;" class="badge{{last_badge.badge.id}}-{{last_badge.niveau}}"></span>
		{% endif %}
	</div>
	<div class="col-xs-12 col-sm-7">
	</div>
	{% if is_granted('ROLE_ELEVE') %}
	<div class="col-sm-4 col-xs-12 col-sm-offset-1 profile-themes-main">
		<p style="color:#5b74a9;font-size:20px;">Tes classes :</p>
		{% for classe in classes %}
			<span style="margin:auto;display:block;" class=""><a href="{{ path('classe_show', { 'id': classe.id })}}">{{classe.name}}</a></span>
		{% endfor %}
		{% if classes|length < 8 %}
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#classeModal">Adhérer à une classe</button>
		{% endif %}
		
	</div>
	{% endif %}
	{% endif %}
</div>

	<!-- Classe Modal -->
	<div class="modal fade" style="padding-top:100px;" id="classeModal" tabindex="-1" role="dialog" aria-labelledby="ClasseModalLabel">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Adhérer à une classe :</h4>
		  </div>
		  <form action="{{path('classe_apply')}}" method="GET">
		  <div class="modal-body">
			 <input style="max-width:200px;" type="text" name='code' id="code" class="form-control" placeholder="Code classe...">
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<input type="submit" class="btn btn-primary" value="Adhérer" />
		  </div>
		  </form>
		</div>
	  </div>
	</div>

<div class="footer-mer-1"></div>