
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

	<form action="{{ path("fos_user_security_check") }}" method="post" class="form_login_user">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}" class="form-control" required="required" /> <br/>

		<input type="password" id="password" name="_password" class="form-control" placeholder="{{ 'security.login.password'|trans }}" required="required" /> 

		<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary" />

		<a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a><br />

		<a id="link_sign_up_user_login" href="#">S'inscrire</a>
	</form>

{% endblock fos_user_content %}
