{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Liste des Examens</h1>

    <table class="records_list">
        <thead>
            <tr>
				{% if is_granted('ROLE_PROF') %}<th>Id</th>{% endif %}
                <th>Name</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                {% if is_granted('ROLE_PROF') %}<td><a href="{{ path('examen_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>{% endif %}
                <td>{{ entity.name }}</td>
                <td>{% if entity.debut %}{{ entity.debut|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.fin %}{{ entity.fin|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
					{% if is_granted('ROLE_PROF') %}
                    <li>
                        <a href="{{ path('examen_show', { 'id': entity.id }) }}">Voir</a>
                    </li>
					{% elseif is_granted('ROLE_ELEVE') %}
                    <li>
						{% if date(entity.debut) < date() and date() < date(entity.fin)%}
						<a href="{{ path('examen_pass', { 'id': entity.id }) }}">Passer</a>
						{% endif%}
                    </li>
					{% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

	{% if is_granted('ROLE_PROF') %}
    <ul>
        <li>
            <a href="{{ path('examen_new') }}">
                Créer un nouvel Examen
            </a>
        </li>
    </ul>
    {% endif %}
	
    {% endblock %}
