{% extends '::base.html.twig' %}

{% block body %}
	{% for flashMessage in app.session.flashbag.get('notice') %}
		{% if app.request.attributes.get("_route") == 'main_user_remove_theme' %}
			<div class="alert alert-danger alert-dismissible fade in flash_message_home">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span class="glyphicon glyphicon-remove icone_ok_flash_message"></span>
				<p>{{ flashMessage }} </p>
			</div>
		{% else %}
			<div class="alert alert-success alert-dismissible fade in flash_message_home">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span class="glyphicon glyphicon-ok icone_ok_flash_message"></span>
				<p>{{ flashMessage }} </p>
			</div>
		{% endif %}
		
	{% endfor %}
	<p class="orange-add-theme">  Envie de devenir un savant ? <br/>
		Développe tes arbres de savoir pour les thèmes qui t'intéressent !  
	</p><br /><br />
	
	<div class="container">
		<div class="row">	
		{%for matiere in matieres%}	
			<div class="col-md-3 col-xs-6 padding-reduced">	
			<div class="bg-blue-theme">	
				<a class="btn-add-theme orange-add-theme" role="button" data-toggle="collapse" href="#{{matiere.id}}" aria-expanded="false" aria-controls="{{matiere.id}}">
					<img class="btn-add-theme img-add-theme" src="/uploads/matiere/{{matiere.id}}.png">
					<p style="margin-top:10px;">{{matiere.name|upper}}&nbsp;&#9658;</p>
				</a>
				<div class="collapse theme-add-theme" id="{{matiere.id}}">
				{%for theme in matiere.themes%}
					{%if theme.available is not defined%}
						<a href="{{ path('main_user_add_theme', { 'theme_id': theme.id })}}" class="link-add-theme" {% if loop.first %}style="border-top:none;"{% endif %}><span id="icone_plus_home" class="glyphicon glyphicon-plus-sign"></span> <span>{{theme.name}}</span></a>
					{%else%}
						<a href="{{ path('main_user_remove_theme', { 'theme_id': theme.id })}}" class="link-add-theme" {% if loop.first %}style="border-top:none;"{% endif %}><span id="icone_plus_home" class="glyphicon glyphicon-minus-sign"></span> <span>{{theme.name}}</span></a>
					{%endif%}
					<br />
				{%endfor%}
				</div>
			</div>
			</div>
		  {%endfor%}
		</div>
	</div>

	<div class="footer-mer-1"></div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$('[id^="a_home_matiere_"]').click(function(){
				var temp_array = $(this).attr('id').split("_");
				var mon_id = temp_array[3];
				var li_id = "li_home_theme_"+mon_id+"_";
				
				if($('[id^="' + li_id + '"]').hasClass('menu_index_opened'))
				{
					$('[id^="' + li_id + '"]').removeClass('menu_index_opened');
					$('[id^="' + li_id + '"]').addClass('menu_index_closed');
					$('[id^="' + li_id + '"]').css('max-height', '0');
				}
				else
				{
					$('[id^="' + li_id + '"]').removeClass('menu_index_cloed');
					$('[id^="' + li_id + '"]').addClass('menu_index_opened');
					$('[id^="' + li_id + '"]').css('max-height', '15em');
				}
			});
</script>
{% endblock %}