{% extends '::base.html.twig' %}

{% block body -%}

<div class="container">
	<h3 style="color:#f39f03;margin-bottom:20px;font-weight:bold;">STATISTIQUES</h3>
	<div class="row">
		<div class="col-md-7" style="text-align:center;padding-top:20px;margin:auto;background-color:#fffaf2;border-radius:20px;">
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a id="tab1" href="#progression" aria-controls="progression" role="tab" data-toggle="tab">Progression</a></li>
			<li role="presentation"><a id="tab2" href="#efficacite" aria-controls="efficacite" role="tab" data-toggle="tab">Efficacité</a></li>
			<li role="presentation"><a id="tab3" href="#notes" aria-controls="notes" role="tab" data-toggle="tab">Notes</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="progression">
				<canvas id="Chart1" width="400" height="400"></canvas>
				<div id="js-legend-chart1" class="chart-legend"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="efficacite">
				<canvas id="Chart2" width="400" height="400"></canvas>
				<div id="js-legend-chart2" class="chart-legend"></div>
			</div>
			<div role="tabpanel" class="tab-pane" id="notes">
				<canvas id="Chart3" width="400" height="400"></canvas>
				<div id="js-legend-chart3" class="chart-legend"></div>
			</div>
		  </div>
		</div>
		<div class="col-md-4 col-md-offset-1 side-menu">
			<p style="color:#f6a000;font-size:22px;">Voir aussi :</p>
			<a class="side-menu-button" href="{{ path('main_savoir_improve')}}">Mes savoirs à améliorer</a><br />
			<a class="side-menu-button" href="{{ path('main_badge_homepage')}}">Mes Badges</a><br />
			<a class="side-menu-button" href="{{ path('main_user_my_history')}}">Mon Historique</a><br />
		</div>
	</div>
</div>
<div class="footer-mer-1"></div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="/js/Chart.min.js"></script>
	<script type="text/javascript">
	var colors = [[],[],[],[],[],[],[]];
	colors[0]["fillColor"] = "rgba(151,187,205,0.5)";
	colors[0]["strokeColor"] = "rgba(151,187,205,0.8)";
	colors[0]["highlightFill"] = "rgba(151,187,205,0.75)";
	colors[0]["highlightStroke"] = "rgba(151,187,205,1)";
	colors[1]["fillColor"] = "rgba(101,137,205,0.5)";
	colors[1]["strokeColor"] = "rgba(101,137,205,0.8)";
	colors[1]["highlightFill"] = "rgba(101,137,205,0.75)";
	colors[1]["highlightStroke"] = "rgba(101,137,205,1)";
	colors[2]["fillColor"] = "rgba(51,187,205,0.5)";
	colors[2]["strokeColor"] = "rgba(51,187,205,0.8)";
	colors[2]["highlightFill"] = "rgba(51,187,205,0.75)";
	colors[2]["highlightStroke"] = "rgba(51,187,205,1)";
	colors[3]["fillColor"] = "rgba(51,87,205,0.5)";
	colors[3]["strokeColor"] = "rgba(51,87,205,0.8)";
	colors[3]["highlightFill"] = "rgba(51,87,205,0.75)";
	colors[3]["highlightStroke"] = "rgba(51,87,205,1)";
	colors[4]["fillColor"] = "rgba(151,187,155,0.5)";
	colors[4]["strokeColor"] = "rgba(151,187,155,0.8)";
	colors[4]["highlightFill"] = "rgba(151,187,155,0.75)";
	colors[4]["highlightStroke"] = "rgba(151,187,155,1)";
	colors[5]["fillColor"] = "rgba(151,187,105,0.5)";
	colors[5]["strokeColor"] = "rgba(151,187,105,0.8)";
	colors[5]["highlightFill"] = "rgba(151,187,105,0.75)";
	colors[5]["highlightStroke"] = "rgba(151,187,105,1)";
	colors[6]["fillColor"] = "rgba(151,87,105,0.5)";
	colors[6]["strokeColor"] = "rgba(151,87,105,0.8)";
	colors[6]["highlightFill"] = "rgba(151,87,105,0.75)";
	colors[6]["highlightStroke"] = "rgba(151,87,105,1)";
	
	
	$(function() {
		var ctx1 = $("#Chart1").get(0).getContext("2d");
		var labels = $.parseJSON('{{ legend | raw }}');
		var data_epreuve_passees = $.parseJSON('{{ data_epreuve_passees | raw }}');
		var data_savoirs_aquis = $.parseJSON('{{ data_savoirs_aquis | raw }}');
		var data1 = {
			labels: labels,
			datasets: [
				{
					label: "Savoirs aquis",
					fillColor: "rgba(151,187,205,0.5)",
					strokeColor: "rgba(151,187,205,0.8)",
					highlightFill: "rgba(151,187,205,0.75)",
					highlightStroke: "rgba(151,187,205,1)",
					data: data_savoirs_aquis
				},
				{
					label: "Epreuves passées",
					fillColor: "rgba(220,220,220,0.5)",
					strokeColor: "rgba(220,220,220,0.8)",
					highlightFill: "rgba(220,220,220,0.75)",
					highlightStroke: "rgba(220,220,220,1)",
					data: data_epreuve_passees
				}
			]
		};
		
		var BarChart1 = new Chart(ctx1).Bar(data1);
		$('#js-legend-chart1').append(BarChart1.generateLegend());
		
		var ctx2 = $("#Chart2").get(0).getContext("2d");
		var data2 = {
			labels: labels ,
			datasets: [
			{
				label: "Epreuves passées",
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(151,187,205,1)",
				pointColor: "rgba(151,187,205,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(151,187,205,1)",
				data: data_epreuve_passees
			},
			{
				label: "Savoirs aquis",
				fillColor: "rgba(220,220,220,0.2)",
				strokeColor: "rgba(220,220,220,1)",
				pointColor: "rgba(220,220,220,1)",
				pointStrokeColor: "#fff",
				pointHighlightFill: "#fff",
				pointHighlightStroke: "rgba(220,220,220,1)",
				data: data_savoirs_aquis
			}
			]
		};
		var options2 = {
		  legendTemplate : '<ul>'
						  +'<% for (var i=0; i<datasets.length; i++) { %>'
							+'<li>'
							+'<span style=\"background-color:<%=datasets[i].pointColor%>\"></span>'
							+'<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>'
						  +'</li>'
						+'<% } %>'
					  +'</ul>'
		}
		var LineChart;
		
		var ctx3 = $("#Chart3").get(0).getContext("2d");
		var legend_notes_by_themes = $.parseJSON('{{ legend_notes_by_themes | raw }}');
		var data_notes_by_themes = $.parseJSON('{{ data_notes_by_themes | raw }}');
		var datasets = [];
		for(i=0;i<Object.keys(legend_notes_by_themes).length;i++)
		{
			datasets[i] = new Object();
			datasets[i].label = legend_notes_by_themes[i+1];
			datasets[i].fillColor = colors[i]["fillColor"];
			datasets[i].strokeColor = colors[i]["strokeColor"];
			datasets[i].highlightFill = colors[i]["highlightFill"];
			datasets[i].highlightStroke = colors[i]["highlightStroke"];
			datasets[i].data = data_notes_by_themes[i];
		}
		console.log(datasets);
		var data3 = {
			labels: labels,
			datasets: datasets
		};
		
		var LineChart2;
		
		//tabs
		$('#tab1').on('shown.bs.tab', function (e) {
			if (typeof LineChart !== 'undefined') LineChart.destroy();
			if (typeof LineChart2 !== 'undefined') LineChart2.destroy();
			BarChart1 = new Chart(ctx1).Bar(data1);
		});

		$('#tab2').on('shown.bs.tab', function (e) {
			if (typeof BarChart1 !== 'undefined') BarChart1.destroy();
			if (typeof LineChart2 !== 'undefined') LineChart2.destroy();
			LineChart = new Chart(ctx2).Line(data2, options2);
			if($('#js-legend-chart2').html() == '')
				$('#js-legend-chart2').append(LineChart.generateLegend());
		});		
		$('#tab3').on('shown.bs.tab', function (e) {
			if (typeof LineChart !== 'undefined') LineChart.destroy();
			if (typeof BarChart1 !== 'undefined') BarChart1.destroy();
			LineChart2 = new Chart(ctx3).Line(data3);
			if($('#js-legend-chart3').html() == '')
				$('#js-legend-chart3').append(LineChart2.generateLegend());
		});		
	});

	</script>
	
	
{% endblock %}


